/*header start*/
header{
    background-image: url("img/hero-img.jpg");
    color:#FFF;
    padding-bottom:205px;
}
header h1{
    margin-top:240px;
}
header span{
    background-color:rgba(50,50,50,0.5);
}

nav{
    padding-top:65px;
    height:150px;
    background-color:rgba(50,50,50,0.5);
}
a{
    text-decoration: none;
}
.sidebar a{
    text-decoration: none;
    color:#FFF;
    padding:10px 12px;
    font-weight: bold;
    border:2px solid transparent;
}
.sidebar a:hover{
    color:#459dc3;
    border:2px solid #459dc3;
}
/*header end*/

/*services start*/
.section-services{
    background-color:#4bcaff;
    color:#FFF;
    padding-top:80px;
    padding-bottom:80px;

}
.section-services p{
    font-size:10px;
}
.services{
    margin-top:35px;
}
.line{
    width:45px;
    border:1px solid #FFF;
}
.coffee{
    width:34px;
    height:49px;
    background-image: url("img/spritesheet.png");
    background-position:-5px 54px;
}
.instant{
    width:48px;
    height:48px;
    background-image: url("img/spritesheet.png");
    background-position:-5px -53px;
}
.serious{
    width:47px;
    height:46px;
    background-image: url("img/spritesheet.png");
    background-position:-5px -106px;
}
.frame{
    width:48px;
    height:48px;
    background-image: url("img/spritesheet.png");
    background-position:-5px 0;
}

/*services end*/

/*portfolio start*/
.section2{
    padding:80px 0;
    color:#8c959a;
}
.line2{
    width:45px;
    border:1px solid #8c959a;
}
.gallery{
    margin-top:80px;
}
.portfolio-sidebar a{
    color:#8c959a;
    text-decoration: none;
    padding:10px 12px;
    font-weight: bold;
    border:2px solid transparent;
}
.portfolio-sidebar a:hover{
    color:#4bcaff;
    border:2px solid #4bcaff;
}
.images{
    margin-left:30px;
    margin-top:10px;
}
.images2{
    margin-top:30px;
}
/*portfolio end*/

/*section3 start*/
.section3{
    background-color:rgba(50,50,50,1);
    color:#FFF;
    padding:80px 0;
}
.visitButton{
    background-color:rgba(50,50,50,1);
    border:2px solid black;
    padding:16px 38px;
    margin-top:40px;
}
.visitButton{
    color:#FFF;
}
.visitButton:hover{
    background-color:black;
    color:lightgrey;
}
.section3 p{
    font-size:10px;
    margin-top:40px;
}
.video{
    height:300px;
    margin-top:40px;
}
/*section3 end*/

/*section twitter start*/
.twitter{
    background-color:#4bcaff;
    color:#FFF;
    padding:80px 0;
}
.twitter p{
    margin-top:40px;
}

/*section twitter end*/

/*section author start*/
.author{
    background-image: url("img/camera2.jpg");
    padding:70px 0;
    color:#FFF;
}
.author p{
    margin-top:40px;
}
/*section author end*/